@import 'tailwindcss';
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}

@font-face {
  font-family: "Mikhak";
  src: url("/assets/fonts/mikhak/Mikhak-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mikhak";
  src: url("/assets/fonts/mikhak/Mikhak-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IRANSans';
  src: url('/assets/fonts/iransans/iransans.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IRANSans';
  src: url('/assets/fonts/iransans/iransans.woff') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  direction: rtl;
}

.font-mikhak {
  font-family: 'Mikhak', Tahoma, sans-serif !important;
}
.font-iransans {
  font-family: 'IRANSans', Tahoma, sans-serif !important;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.slider-scrollbar::-webkit-scrollbar {
  height: 8px;
  background: transparent;
}
.slider-scrollbar::-webkit-scrollbar-thumb {
  background: #b5e0d6;
  border-radius: 8px;
  transition: background 0.3s;
}
.slider-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #1e5d4e;
}

.slider-scrollbar {
  scrollbar-color: #b5e0d6 transparent;
  scrollbar-width: thin;
}

button {
  cursor: pointer;
}